html, body {
    background-color: black;
}

canvas {
    background: #EEE;
    background-image: url("pngegg (2).png");
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
    margin: 0 auto;
    border: solid 6px #AAA;
    border-radius: 10px;
}

.controls {
    position: absolute;
    z-index: 10;
    top: 550px;
    left: 50%;
    transform: translateX(-50%);
}

.controls,select,option {
    font-size: 25px;
}
